body{
  background-color: #333;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
  height: 100px;
  width: 100%;
  background-color: #444;
  padding: 20px 0px;
  margin-bottom: 40px;
}

#myContainer{
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 1000px;
}

.instructions{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1000px;
}

footer{
  height: 200px;
  width: 100%;
  background-color: black;
}
